body{
    margin:0;
    box-sizing: border-box;
    /* font-size:16px; */
}

.container { 
    background-color: #f5f4f4;
    
    }
.header{
    position: sticky;
    top:0;
    z-index: 3;

    }

.mainheader {

    background-color:#2b343e ;
    padding: .688em 1.625em .75em 2.188em;
    display: flex;
    flex-direction:row;
    justify-content:space-between;
    align-items: center;
    

    

}

.rightheader{
    display: flex;
    flex-direction:row;
    justify-content:space-between;
    align-items: center;
}

.jazz{
    object-fit: contain;
}
.notif .notification {
    width: 1em;
    height: 1.188em;
    padding-right: 1.125rem;
    object-fit: contain; 
    z-index: 5;      
}
#not1:hover{
    -webkit-animation-name:animatenot;
    -webkit-animation-duration:.5s;
    -webkit-animation-iteration-count: 2;
}

@-webkit-keyframes animatenot{
    from{ transform:rotate(0deg);}
    25% {transform:rotate(30deg);}
    50%{transform:rotate(0deg);}
    75%{transform:rotate(-30deg);}
    to{transform:rotate(0deg);}

}
.notif .notification:hover{
    cursor: pointer;
}
.notif .icon{
    width: 8px;
    height: 8px;
    background-color: #e20074;
    border-radius: 50%;
    position: absolute;
    right: 4.875em;
    top: 1.3125em;
}
#drop{
    display:none; 
    position: absolute;
    background-color: white;
    width: 100px;
    right: 93px;
    top: 38px;
    padding:10px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
    border-radius:2px;
}
#drop:hover{
    cursor: pointer;
}

#down{
    font-family: Lato;
    font-size: 12px;
    padding-left:10px;
    padding-top:5px;
    padding-bottom:5px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
    border-radius:2px;
    
}
#down:hover{
    background-color:#e20074;
    color:white;
}

.manface {
    border-radius: 50%;

}
#manface{
    width:36px;
    height:36px;
    border-radius: 50%;


}
#manface:hover{
    cursor: pointer;
}

#sidebar{
    position:fixed;
    height: 100%;
    top: 0;
    right:0;
    width:17rem;
    background-color: rgba(100%,100%,100%,0.97);
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.05);
    border-radius:2px;
    transition: 1s; 
    transform: translateX(100%);
    
}


#side{
    position: relative;
    font-family: Lato;
    font-size: 20px;
    font-weight: bold;
    color:#e20074;
    text-align: center;
    padding-top: 1rem;
}
#sidebarclose{
    position: relative;
    top: -5%;
    left: 0%;
    height: 20px;
    width: 20px;
}
#sidebarclose:hover{
    cursor: pointer;
}

.subheader1{
    padding: 11px 0px 10px 13px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    background-color: #ffffff;
    display: flex;
    flex-direction:row;
    justify-content:start;
    align-items: center;
    flex-grow: 1;
    font-size: .75rem;

}
.leftarrow{
    font-size:1.125rem;
    font-weight:bolder;
    font-style: normal;
    text-align: right;
    color: #e20074;
    padding-bottom:.25rem;
    margin-right:.688rem;

}

.home{
    font-family: Lato;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: right;
    color: #e20074;
 
}

.slash{
    font-size:1.125rem;
    margin: 0px .438rem 0;
    color: #dddddd;
}
.services {
   
    font-family: Lato;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: right;
    color: #e20074; 
}

.serviceoneAPI {
    font-family: Lato;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #333333;
}

.backgroundpage{
    background-color:  #f5f4f4;
    padding-bottom:31px; 
    padding-left: 36px;
    padding-right: 36px;
    z-index: 1;

}

.subheader2{

    display: flex;
    flex-direction:row;
    justify-content:flex-end;
    align-items: center;


}
.subheader2 .pattern{
    object-fit: contain;
    mix-blend-mode: multiply;
    padding:0px 35px 0px 0px;
    position:relative;
    bottom:26px;
}
#pattern{
    z-index: 1;
}
.leftsubheader2{

    display: flex;
    flex-direction:row;
    justify-content:start;
    align-items: baseline;
    padding:30px 0px 0px 10px;

}

.serviceone{
    width: 8.125;
    height: 1.813rem;
    padding: .25rem .625rem .438rem 0rem;
    margin-bottom: 8px;
    font-family: Lato;
    font-size: 1.5rem;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: var(--black);
  }

#flash{
    object-fit: contain;
 }
#flash{
    cursor: pointer;
 }
#modal{
    display:none;
    z-index:4;
    width:100%;
    height: 100%;
    position:fixed;
    left: 0;
    top: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.75);
 }
#modal1{
    
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform:translate(-50%,-50%);
    width:23.4375rem;
    height: 14.0625rem;
    background-color: white;
    border-radius: 6px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.11);
  
 }
#sharehere{
    position: relative;
    font-family: Lato;
    font-size: 1.125rem;
    font-weight: bold;
    color:#e20074;
    text-align: center;
    top: 50%;
 }
#modalclose{
    position:relative;
    top: -9%;
    left: 94%;
    height: 1.25rem;
    width: 1.25rem;
  }
#modalclose:hover{
    cursor: pointer;
  }
.lefter{
    display: flex;
    flex-direction:column;
    justify-content:center;
    align-items: space-between;
  }
#image3{
    width: 20px;
    height:auto; 
  }
.pattern{
    color: #d8d8d8;
}
.subheader3{
    display: flex; 
    flex-direction:row; 
    justify-content:space-between; 
    align-items: flex-end;
    padding-bottom:3.5rem;
    margin-top: -7.5rem;
    flex-wrap:wrap;

}
.subheader3 .left{

    display: flex;
    flex-direction:row;
    justify-content:start;
    align-items: center;
    padding:.625rem 0 0 .625rem;
    font-size: 0.75rem;

}
.subheader3 .left .overview{
    font-family: Lato;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
}

.subheader3 .left .overview:hover{
    cursor: pointer;
}

#active{
    color:#e20074;
    border-bottom: solid 2px #e20074;
    font-weight: bold;
}
#inactive{
    color: #77818b;
    font-weight: normal;
}

.subheader3 .left .access{

    margin:0px 1.563rem 0px 1.875rem;
    font-family: Lato;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
  
}
.subheader3 .left .access{
    cursor: pointer;
}
.subheader3 .left .cost{
    font-family: Lato;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #77818b;
}
.subheader3 .left .cost{
    cursor: pointer;
}
.subheader3 .mid{ 

    display: flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
    padding:2.875rem 6.25rem 0 3rem;

 } 
.subheader3 .mid .rectangles{
   
    display: flex;
    flex-direction:row;
    justify-content:start;
    align-items: center;
    

 } 
.subheader3 .mid .rectangles .greenrectangle{
   width: 2.5rem;
   height: .625rem;
   margin: 0 10px 8px 0; 
   border-radius: 8px;
   background-color: #d8d8d8;

}
.subheader3 .mid .rectangles .greenrectangle:hover{
    cursor: pointer;
}

.subheader3 .mid .rectangles .rectangle11{
    width: 2.5rem;
    height: .625rem;
    margin: 0 10px 8px 0px; 
    border-radius: 8px;
    background-color: #d8d8d8;
}
.subheader3 .mid .rectangles .rectangle11:hover{
    cursor: pointer;
}
.subheader3 .mid .rectangles .rectangle21{
    width: 2.5rem;
    height: .625rem;
     margin: 0 0px 8px 0px; 
    border-radius: 8px;
    background-color: #d8d8d8;
}
.subheader3 .mid .rectangles .rectangle21:hover{
    cursor: pointer;
}

.subheader3 .mid .nextconfigure {
    display: flex;
    flex-direction:row;
    justify-content:end;
    align-items: center;
    margin: 0px 11px 0 13px;
    font-family: Lato;
    font-size: .625rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;

}

.subheader3 .mid .next{

    font-weight: bold;
    color: #77818b;
}

.subheader3 .mid .configure{
    color: #e20074;
    padding-left:3px;
    font-weight:600;

}


.subheader3 .right{
    display: flex;
    flex-direction:row;
    justify-content:end;
    align-items: center;
    padding-top: 3rem;
    padding-bottom:.625rem;
    padding-left:1.8125rem;
    position: relative;
    z-index: 2;



}
.subheader3 .right .logopart{
    display: flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    padding:0px 10px;
    color: #e20074;

}

.subheader3 .right #logo{
    width:27px;
    height:auto;
}
.logopart:hover{
    cursor: pointer;
}


.subheader3 .right .font{
  margin: 4px 0px 0px 0px;
  font-family: Lato;
  font-size: .625rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: center;
  



}

.subheader3 .right .code{
  width: 41px;
  height: 10px;
  margin: 4px 0 0;
  font-family: Lato;
  font-size: 10px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: center;
  color:#fc6e28

}



.content1{
    padding: 0px 0px 51px 0px;
    background-color:rgb(255, 255, 255);
    margin: 0px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: top;
    border-radius: 6px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.11);
    flex-wrap: wrap; 
    font-size: .75rem;
}

.content1 .left{
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 2.4375rem 0 0  2.4375rem ;
    flex-grow: 1;
}
.content1  .head{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline; 

}
.content1 .left .head .general{
    padding:0 .5rem;
    font-family: Lato;
    font-size: 1.125rem;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    color:#2b343e


}
#clock1{
    width:1.125rem;
    height: auto;
}
#pencil1{
    width:1.125rem;
    height: auto;
}
.content1 .body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding-top: 1rem;
    width: 100%;

}
.content1 .left .body .line{
width: 21.875rem; 
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: top;
    border-bottom: solid 1px #dddddd;

}
.content1 .left .body .line .namespace{
  width: 25%;
  font-family: Lato;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
  padding:.625rem 0 .625rem .25rem;
  word-break:break-word;
  

}
.content1 .left .body .line .jazz{
    width: 60%;
    font-family: Lato;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
    padding:.625rem 0 .625rem 3rem;
    word-break:break-word;
}
.content1 .left .body .line .application{
    width: 25%;
    font-family: Lato;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
    padding:.625rem 0px .625rem .25rem;
    word-break:break-word;

}
.content1 .left .body .line .lorem{
    width: 60%;
    font-family: Lato;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
    padding:.625rem 0 .625rem 3rem;
    word-break:break-word;

}
.content1 .left .body .line .runtime{
    width: 25%;
    font-family: Lato;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
    padding:.625rem 0 .625rem .25rem;
    word-break:break-word;

}
.content1 .left .body .line .python1{
    width: 60%;
    font-family: Lato;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
    padding:.625rem 0 .625rem 3rem;
    word-break:break-word;

}
.content1 .left .body .line .deploy{
    width: 25%;
    font-family: Lato;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
    padding:.625rem 0 .625rem .25rem;
    word-break:break-word;

}
.content1 .left .body .line .python2{
    width: 60%;
    font-family: Lato;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
    padding:.625rem 0 .625rem 3rem;
    word-break:break-word;

}
.content1 .left .body .line .description{
    width: 25%;
    font-family: Lato;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
    padding:.625rem 0 .625rem .25rem;
    word-break:break-word;

}
.content1 .left .body .line .lorem2{
    width: 60%;
    font-family: Lato;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
    padding:.625rem 0 .625rem 3rem;
    word-break:break-word;

}
.content1 .left .body .line .created{
    width: 25%;
    font-family: Lato;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
    padding:.625rem 0 .625rem .25rem;
    word-break:break-word;

}
.content1 .left .body .line .abhishek{
    width: 60%;
    font-family: Lato;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
    padding:.625rem 0 .625rem 3rem;
    word-break:break-word;

}
.content1 .left .body .line .service{
    width: 25%;
    font-family: Lato;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
    padding:.625rem 0 .625rem .25rem;
    word-break:break-word;

}
.content1 .left .body .line .website{
    width: 60%;
    font-family: Lato;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
    padding:.625rem 0 .625rem 3rem;
    word-break:break-word;

}
.content1 .left .body .line .status{
    width: 25%;
    font-family: Lato;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
    padding:.625rem 0 .625rem .25rem;
    word-break:break-word; 

}
.content1 .left .body .line .active{
    width: 60%;
  font-family: Lato;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
  padding:.625rem 0px .625rem 3rem;
  word-break:break-word;

}
.content1 .mid{
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: start;
    padding: 39px 0px 0px 0px;
    flex-grow: 1;
}
.content1 .mid .head .approval{
  padding:0px 8px;
  font-family: Lato;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  color:#2b343e;
}
.content1 .mid .body .line2{
    width: 250px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: top;
    border-bottom: solid 1px #dddddd;

}
.content1 .mid .body .line2 .status{
    width: 30%;
    font-family: Lato;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
    padding:10px 0px 10px 4px;
    word-break:break-word;
}
.content1 .mid .body .line2 .active{
    width: 60%;
    font-family: Lato;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
    padding:10px 0px 10px 48px;
    word-break:break-word;

}
.content1 .mid .body .line2 .domain{
    width: 30%;
    font-family: Lato;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
    padding:10px 0px 10px 4px;
    word-break:break-word; 

}
.content1 .mid .body .line2 .tmo{
    width: 60%;
    font-family: Lato;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
    padding:10px 0px 10px 48px;
    word-break:break-word;

}
.content1 .mid .head1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
     align-items: baseline;
    padding-top:60px;

}
.content1 .mid .head1 .platform{
  font-family: Lato;
  font-size: 18px; 
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  color: #2b343e;
  padding:0px 8px;

}
.content1 .mid .body .line2 .provider{
    width:30%;
    font-family: Lato;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
    padding:10px 0px 10px 4px;
    word-break:break-word;
}
.content1 .mid .body .line2 .aws{
    width:60%;
    font-family: Lato;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
    padding:10px 0px 10px 48px;
    word-break:break-word;

}
.content1 .mid .body .line2 .suscription{
    width:30%;
    font-family: Lato;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
    padding:10px 0px 10px 4px;
    word-break:break-word; 

}
.content1 .mid .body .line2 .zero{
    width:60%;
    font-family: Lato;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
    padding:10px 0px 10px 48px;
    word-break:break-word;

}

.content1 .mid .body .awspack{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;

}
.content1 .mid .body .awspack .pack{
    padding-left:8px
}
.content1 .right{
    border-left: solid 1px #dddddd;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: start;
    padding: 43px 40px 0px 30px;
    flex-grow: 1; 
}
.content1 .right .head {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: baseline;

}


.content1 .right .part1 .head .snapshot{
  font-family: Lato;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  color: #2b343e;
  padding:0px 4px;
}
.content1 .right .part1 .body{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    padding: 30px 0px 0px 0px;

}
.content1 .right .part1 .body .fivepart{
    display: flex;
    flex-direction: column;
    justify-content:top;
    align-items: center;

}
.content1 .right .part1 .body .twelvepart{
    display: flex;
    flex-direction: column;
    justify-content:top;
    align-items: center;

}
.content1 .right .part1 .body .fivepart .totaldeploy{
  font-family: Lato;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #77818b;
}
.content1 .right .part1 .body .twelvepart .totalenv{
  font-family: Lato;
  padding: 0px 0px 0px 24px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #77818b;
}
.content1 .right .part1 .body .fivepart .five{
  font-family: Lato;
  font-size: 36px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
}
.content1 .right .part1 .body .twelvepart .twelve{
  font-family: Lato;
  font-size: 36px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
}.content1 .right .part2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding:40px 0px 0px 0px;
}
.content1 .right .part2 .body{

}
.content1 .right .part2 .head .references{
  padding:0px 0px 0px 8px;
  font-family: Lato;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color:#2b343e;
}
.content1 .right .part2 .body .how {
    font-family: Lato;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #e20074;
    text-decoration: underline;
    padding:0px 0px 10px 0px;
}
.content1 .right .part2 .body .how:hover{
  color:blue;
  cursor: pointer;
}
.content1 .right .part2 .body .about:hover{
    color: blue;
    cursor: pointer;
}
.content1 .right .part2 .body .jazz:hover{
    color: blue;
    cursor: pointer;
}

.content1 .right .part2 .body .about{
    font-family: Lato;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #e20074;
    text-decoration: underline;
    padding:0px 0px 10px 0px;
}
.content1 .right .part2 .body .jazz{
    font-family: Lato;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #e20074;
    text-decoration: underline;
    padding:0px 0px 10px 0px;
}
 @media screen and (min-width:1700px){ 
.content1 .left .body .line{
width:70%
}
.content1 .mid .body .line2{
    width:70% 
}
 }
@media screen and (max-width:1080px){ 
    .content1 .mid{
        padding-left:30px;
    }

}
 


.content2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;

}

.content2 .left{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: baseline;
    padding:32px 0px 0px 0px;

}
.content2 .left .environments{
  padding:0px 3px 0px 0px;
  font-family: Lato;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #2b343e;


}
.content2 .left .settings{
    padding: 0px 10px 0px 4px;
    margin-bottom: -2px;

}
.content2 .left .settings:hover + .edit{
display:block;
cursor: pointer;
}
#spanner1{
    height:14px;
    width:14px;
}
.content2 .left .edit{
   margin: 0px 0px 6px 4px; 
   display:none;
   position: absolute;
   left:190px;
   padding: 10px 12px; 
   border-radius: 8px;
   box-shadow: 0 2px 4px 0 rgba(181, 181, 181, 0.5);
   background-color: #f8f8f8;
   font-family: Lato;
   font-size: 10px;
   font-weight: normal;
   font-stretch: normal;
   font-style: normal;
   line-height: 1.2;
   letter-spacing: normal;
   color: #000000;
   
}

.content2 .right{
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: flex-end;
    padding-top:40px;

}
.content2 .right .createbox{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    width: 200px;
    height: 32px;
    border-radius: 15px;
    border: solid 1px #e20074;
    background-color: #ffffff;
}

.content2 .right .createbox .create{
  font-family: Lato;
  font-size: 12px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: right;
  color: #e20074;
}
.content2 .right .createbox .plus{
    margin:4px 10px 0px 10px;
    height: 20px;
          width: auto;
}
.content2 .right .search{
 padding:0px 10px ;
 
}
.content2 .right .search:hover{
cursor: pointer;
}
.content2 .right .icon1{
          height: 20px;
          width: auto;
}
.content2 .right .icon1:hover{
cursor: pointer;
}
.content2 .right .icon2{
    padding:0px 0px 0px 10px;
    height: 20px;
          width: auto;

}
.content2 .right .icon2:hover{
cursor: pointer;
}
.content3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin:5px 0px 0 0px;
    background-color:#ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    padding:20px 20px 20px 24px;
  
}
.content3 .left {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}
.content3 .left .alert{
    
}
.content3 .left .new{
  padding-left:10px;
  font-family: Lato;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  color: #000000;
}


.content3 .right{
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    width: 70px;
  height: 15px;
  width: 132px;
  height: 32px;
  border-radius: 100px;
  border: solid 1px #e20074;
  background-color: #ffffff;
}
 .content3 .right .Configure{
  padding:0px 10px 0px 20px;
  font-family: Lato;
  font-size: 12px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: right;
  color: #e20074;
}
.content3 .right .copy{
    padding-right:1.25rem;
}

.tabl{
    overflow-x: auto;
}

.table{
    border-radius: 8px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    margin:20px 0px 0px 0px;
    display: flex;  
    border-collapse:collapse;
    min-width: 70rem;  
    margin-bottom:30px;
    font-size: 14px;
   
}
table>tbody{
    width: 100%;
    padding:0px 20px;
}

 .table .row1{ 
    border-bottom: solid 1px #cccccc;
    padding:.625rem 0rem .625rem 0rem;
     margin:0px 1.25rem 0rem 1.25rem; 
     width: 100%;
    

} 

.table .row1 .column1{ 
     display: flex; 
    flex-direction: row;
    justify-content: start;
     align-items: center;  
     padding:.625rem 0rem .625rem 0px; 
     padding-left:1.625rem; 
     width:16.6%; 


 }

.table .row1 .column2{  
     width:16.6%;

  }  

.table .row1 .column3{ 
    width:16.6%;

}

 .table .row1 .column4{  
    width:16.6%;
 }  

.table .row1 .column5{ 
    width:16.6%;

}
 .table .row1 .column6{  

 }    

.table .font{
    font-family: Lato;
    font-size: 10px;
    font-weight: bolder;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #29343f;
}

.table .row1 .search{
    padding-left:.313rem;
    padding-bottom: .15rem;
}
#search1{
    height: 10px;
    width: auto;
}
.table .row1 .search:hover + .branch12{
    display:block;
    cursor: pointer;
}
.table .row1 .branch12{
    display:none; 
    position: absolute;
    left: 140px;
    width: 162px;
    margin: 0 0 24px 7px; 
    padding: 12px;
    border-radius: 8px;
    box-shadow: 0 2px 4px 0 rgba(181, 181, 181, 0.5);
    background-color: #f8f8f8;
    font-family: Lato;
    font-size: 10px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #000000;
}




.table .row2{  
    border-bottom: solid 1px;
    padding:1rem 0rem 1rem 0rem;
    margin:0 1.25rem 0 1.25rem; 
    border-color:#cccccc;
    width: 100%;
} 
.table .row2 .column1{
    height: 1.063rem;
    font-family: Lato;
    font-weight:normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
    padding:.625rem 0rem .625rem 0rem;
    padding-left:1.625rem;
    width:16.6%; 

}

.table .row2 .column2{
    height: 1.118rem;
    font-family: Lato;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #008600;
     width:16.6%;
}
.table .row2 .column3{
    height: 1.063rem;
    font-family: Lato;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
     width:16.6%;
}
.table .row2 .column4{
    height: 1.063rem;
    font-family: Lato;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
    width:16.6%;
}

.table .row2 .column5{
    height: 1.0063rem;
    font-family: Lato;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
    width:16.6%;

}
.table .row2 .column6{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}
.table .row2 .column6 .success{
    font-family: Lato;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #65b90c;
}
.table .row2 .column6 .like{
    padding-left: 45px;  
}
.table .row2 .column6 .note {
padding:0px 1.563rem 0px 2.125rem;
}
.table .row2 .column6 .discussions{
 padding-top: .188rem;
 padding-left: .375rem;
}
#note1{
    height:18px;
    width: auto;  
 }
 #note1:hover{
     cursor: pointer;
 }
 #like1{
    height:18px;
    width: auto;  
 }
 #like1:hover{
     cursor: pointer;
 }
 #set1{
     height:18px;
     width:18px;
     cursor: pointer;
 }
 #set2{
    height:18px;
    width:18px;
    padding-left: 145px;
    cursor: pointer;
}
#set3{
    height:18px;
    width:18px;
    padding-left: 145px;
    cursor: pointer;
}
#set4{
    height:18px;
    width:18px;
    padding-left: 103px;
    cursor: pointer;
}
#set5{
    height:18px;
    width:18px;
    cursor: pointer;
}
#set6{
    height:18px;
    width:18px;
    cursor: pointer;
}
#set7{
    height:18px;
    width:18px;
    cursor: pointer;
}
#set8{
    height:18px;
    width:18px;
    cursor: pointer;
}
 #settings1:hover{
     cursor: pointer;
 }


.table .row2 .column6 .icons{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    margin-top: 7px;

}

.table .row3{ 
    border-bottom: solid 1px #cccccc;
    padding:1rem 0rem 1rem 0rem;
    margin:0 1.25rem 0 1.25rem; 
    width: 100%;
    
 } 
.table .row3 .column1{
    height: 1.603rem;
    font-family: Lato;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
    padding:.625rem 0rem .625rem 0rem;
    padding-left:1.625rem;
    width:16.6%; 
    

}
.table .row3 .column3{
    height: 1.603rem;
    font-family: Lato;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
    width:16.6%;
}

.table .row3 .column4{
    height: 1.063rem;
    font-family: Lato;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
    width:16.6%;
}

.table .row3 .column5{
    height: 1.0063rem;
    font-family: Lato;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
    width:16.6%;

}


.table .row3 .column6{

    height: 1.603rem;     margin: 22px 1px 23px 0;  
    font-family: Lato;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #65b90c;
 } 
.table .row3 .column2{
    height: 1.188rem;
    font-family: Lato;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ff9400;
    width:16.6%;
}
.table .row4{
    border-bottom: solid 1px #cccccc;
    padding:1rem 0rem 1rem 0rem;
     margin:0 1.25rem 0 1.25rem;
     width: 100%;

     } 
.table .row4 .column1{
    height: 1.603rem;
    font-family: Lato;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
    padding:.625rem 0rem .625rem 0rem;
    padding-left:1.625rem;
}
.table .row4 .column2{

    height: 1.188rem;
    font-family: Lato;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #008eff;
    width:16.6%;
}
.table .row4 .column3
{
    height: 1.603rem;
    font-family: Lato;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
    width:16.6%;
}

.table .row4 .column4{
    height: 1.063rem;
    font-family: Lato;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
    width:16.6%;
}
.table .row4 .column5{
    height: 1.0063rem;
    font-family: Lato;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
    width:16.6%;

}
.table .row4 .column6{

    height: 1.603rem; 
    font-family: Lato;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #65b90c;
 } 
 .table .row5{
    border-bottom: solid 1px #cccccc;
    padding:1rem 0rem 1rem 0rem;
     margin:0 1.25rem 0 1.25rem; 
     width: 100%;
    
 } 
 .table .row5 .column1{
    font-family: Lato;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
    padding:.625rem 0rem .625rem 0rem;
    padding-left:1.625rem;
    width:16.6%; 
 }
 .table .row5 .column2{
    height: 1/188rem;
    font-family: Lato;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #008eff;
    width:16.6%;
 }
 .table .row5 .column3{
    height: 1.603rem;
    font-family: Lato;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
    width:16.6%;
 }
 .table .row5 .column4{
    height: 1.063rem;
    font-family: Lato;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
    width:16.6%;
}
.table .row5 .column5{
    font-family: Lato;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
    width:16.6%;

}
 .table .row5 .column6{
    height: 1.603rem;
    font-family: Lato;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #f5a623;

 }
 .table .row6{ 
    border-bottom:1px solid #cccccc;
    padding:1rem 0rem 1rem 0rem;
     margin:0 1.25rem 0 1.25rem; 
     width: 100%; 

    } 
.table .row7{ 
        border-bottom:1px solid #cccccc;
        padding:1rem 0rem 1rem 0rem;
         margin:0 1.25rem 0 1.25rem; 
         width: 100%; 
    
}
.table .row8{ 
    border-bottom:1px solid #cccccc;
    padding:1rem 0rem 1rem 0rem;
     margin:0 1.25rem 0 1.25rem; 
     width: 100%; 

}
.table .row9{ 
    border-bottom:1px solid #cccccc;
    padding:1rem 0rem 1rem 0rem;
     margin:0 1.25rem 0 1.25rem; 
     width: 100%; 

}
    

 .table .row6 .column1{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
     padding:.625rem 0rem .625rem 0rem; 
    width:16.6%;
 }
 .table .row7 .column1{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
     padding:.625rem 0rem .625rem 0rem; 
    width:16.6%;
 }
 .table .row8 .column1{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
     padding:.625rem 0rem .625rem 0rem; 
    width:16.6%;
 }
 .table .row9 .column1{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
     padding:.625rem 0rem .625rem 0rem; 
    width:16.6%;
 }
 .table .row6 .column1 .one{
    
    font-family: Lato;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
    padding-left: .625rem; 
 }
 .table .column2{
    font-family: Lato;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #008eff;
    width:16.6%;
 }
 .table  .column3{
    font-family: Lato;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
    width:16.6%;
 }
 .table  .column4{
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
 }
 .table  .column5{
    font-family: Lato;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
    width:16.6%;
 }
 



 .table .row6 .column6{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
 }
 .table .row7 .column6{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
 }
 .table .row8 .column6{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
 }
 .table .row9 .column6{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
 }
 .table  .column6 .alert2{
    padding-left: 5.313rem;
 }
 
 
 .table  .hiphen{
    font-family: Lato;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
 }
 .table .column1 .feature{
    font-family: Lato;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
    padding-left: .625rem;
}
 
 .table .row7 .column2{
    font-family: Lato;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #008eff;
    width:16.6%;
}
.table .row8 .column2{
    font-family: Lato;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #008eff;
    width:16.6%;
}
.table  .column1 .test2{
  font-family: Lato;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
  padding-left: .625rem; 
}
.table .row9.column2{
    font-family: Lato;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #008eff;
    width:16.6%;
}
.table  .column1 .five{
    font-family: Lato;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
     padding-left: .625rem; 
  }
  #modl{
    display:none;
    z-index:4;
    width:100%;
    height: 100%;
    position:fixed;
    left: 0;
    top: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.75);
}
#modl1{
  
  position: absolute;
  top: 50%; 
   left: 50%; 
  transform:translate(-50%,-50%);
  width:375px;
  height: 225px;
  background-color: white;
  border-radius: 6px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.11);

}
#tex{
  position: relative;
  font-family: Lato;
  font-size: 18px;
  font-weight: bold;
  color:#e20074;
  text-align: center;
  top: 50%;
}
#modlclose{
    position:relative;
    top: -9%;
    left: 94%;
    height: 20px;
    width: 20px;
}


@media screen and (min-width:1500px){ 

    .table .row1 .column6{
        padding-left: 20rem;
    }
    .table .row2 .column6{
        padding-left: 20rem;
    }
    .table .row3 .column6{
        padding-left: 20rem;
    }
    .table .row4 .column6{
        padding-left: 20rem;
    }
    .table .row5 .column6{
        padding-left: 20rem;
    }
    .table  .column6{
        padding-left: 20rem;
     } 
    
}

.mid1 .left{
padding:11px 20.188rem 0px 18px;
position:absolute;
left: 0;
top: 0;
}

#tmobile{
    height: 17px;
    width: auto;
}
.mid1{
    position: relative;
    padding: 50px 0px 0px 0px;
    border-top: solid 1px #dddddd;
    display: flex;
    flex-direction: row;
    justify-content :center;
    align-items:center;  
    padding-top:19px;
    font-size: 12px;

}
 .mid1 .features{
  font-family: Lato;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #e20074;
}
.mid1 .contact{
    margin: 0px 1.875rem 0px 1.875rem; 
    font-family: Lato;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #e20074;
    border-left: solid 1px #dddddd;
    border-right: solid 1px #dddddd;
    padding:0px 1.875rem;
}
 .mid1 .document{
  font-family: Lato;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #e20074; 
  
}

@media screen and (max-width:1000px){
    #jazz1{
        width:12.75rem;
        height: auto;
    }
    #not1{
        width:2rem;
        height: auto;
    }
    .notif .notification{
        padding-right: 3rem;
    }
    .notif .icon {
        width: 16px;
        height: 16px;
        right: 125px;
        top: 36px;
    }
    #manface{
        width:4.5rem;
        height: auto;
    }
    .subheader1{
        font-size: 1.5rem;
    }
    .slash{
        font-size:2.25rem;
    }
    .leftarrow{
        font-size:2.25rem;
    }
    .serviceone {
        font-size:3rem;
    }
    #image3 {
        width:2.5rem;
        height: auto;
    }
    .subheader3 .left{
        font-size: 1.5rem;
    }
    .subheader3 .mid .rectangles .greenrectangle{
        width: 3.75rem;
        height: .75rem;
    }
    .subheader3 .mid .rectangles .rectangle21{
        width: 3.75rem;
        height: .75rem;
    }
    .subheader3 .mid .nextconfigure {
        font-size: 1.25rem;
    }
    .lefter{
        padding-left: 25%;
        align-items: center;
        padding-bottom: 3rem;
    }
    .subheader3 .mid{
        padding-left: 0%;
        padding-bottom: 0rem;
    }
    .subheader3 .right{
        padding-left: 0%;
        padding-bottom: 0rem;
    }
    .subheader3 .right #logo {
        width: 2rem;
        height: auto;
    }
    .subheader3 .right .font{
        font-size: 1.25rem;
    }
    .content1{
        font-size: 1.5rem;
    }
    .content1 .left {
        width:100%;
       
    }
    .content1 .left .body .line{
        width:100%;
    }
    .content1 .left .head .general{
        font-size:2.25rem;
    }
    
    .content1 .mid {
        width:100%;
    }
    .content1 .mid .body .line2{
        width:100%;
    }
    .content1 .mid .head .approval{
        font-size:2.25rem;
    }
    .content1 .mid .body .line2 .provider{
        font-size: .5rem;
    }
    .content1 .mid .head1 .platform{
        font-size:2.25rem;
    }
    .content1 .right{
        width:100%;
    }
    .content1 .right .part1 .body{
        padding: 3rem 0;
    }
    .content1 .right .part1 .head .snapshot{
        font-size:2.25rem;
    }
    .content1 .right .part1 .body .fivepart .five{
        font-size:6rem;
    }
    .content1 .right .part1 .body .twelvepart .twelve{
        font-size:6rem;
    }
    .content1 .right .part1 .body .twelvepart{
        padding-left: 3rem;
    }
    .content1 .right .part2 .head .references {
        font-size:2.25rem;
    }
    .content1 .body {
        padding: 3rem 0;
    }
    #clock1 {
        width: 2.25rem;
        height: auto;
    }
    #pencil1 {
        width: 2.25rem;
        height: auto;
    }
    #approvals1 {
        width: 2.25rem;
        height: auto;
    }
    #platform1 {
        width: 2.75rem;
        height: auto;
    }
    .content2 .left .environments{
        font-size:2rem;
    }
    #spanner1 {
        height: 1.75rem;
        width: auto;
    }
    #plus1{
        width: 1rem;
        height: auto;
    }
    .content2 {
        padding-top: 2rem;
        padding-bottom: 1rem;
    }
    .content2 .right .createbox .create {
        font-size:1.5rem;
    }
    .content2 .right .createbox {
        width: 350px;
        height: 42px;
    }
    .content2 .right .search {
        padding: 0px 20px;
    }
    .content2 .right .icon2 {
        padding: 0px 0px 0px 20px;
    }
    .content2 .left .edit {
        font-size: 1.5rem;
    }
    .table .row1 .branch12 {
        font-size: 1.5rem;
        width: 20rem;
    }

    #search21{
       width: 1.5rem;
       height: auto;
    }
    #icon21{
        width: 1.5rem;
        height: auto;
    }
    #icon22{
        width: 1.5rem;
        height: auto;
    }
    .content3 {
        margin-bottom: 2rem;
    }
    .content3 .left .new {
        font-size: 1.75rem;
    }
    .content3 .right .Configure {
        font-size: 1.5rem;
    }
    .content3 .right {
        width: 260px;
        height: 42px;
    }

    #copy11{
        width: 1.5rem;
        height: auto;
    }
    #alert11{
        width: 3rem;
        height: auto;
    }
    .table .font {
        font-size: 1.25rem;
    }
    .table .row1 .column5 {
         width: 30.6%; 
    }
    
    .table {
        font-size: 1.75rem;
        min-width: 200rem;
    }
    #search1{
        width: 1.25rem;
        height: auto;
    }
    #alert22{
        width: 2rem;
        height: auto;
    }
    #like1{
        width: 2rem;
        height: auto;
    }
    #note1{
        width: 2rem;
        height: auto;
    }
    #set1{
        width: 2rem;
        height: auto;
    }
    #set2{
        width: 2rem;
        height: auto;
    }
    #set3{
        width: 2rem;
        height: auto;
    }
    #set4{
        width: 2rem;
        height: auto;
        padding-left: 36px;
    }
    #set5{
        width: 2rem;
        height: auto;
    }
    #set6{
        width: 2rem;
        height: auto;
    }
    #set7{
        width: 2rem;
        height: auto;
    }
    #set8{
        width: 2rem;
        height: auto;
    }
    .table .row5 .column6 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    }
    .table .row4 .column6 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .table .row3 .column6 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .table .row2 .column2 {
        font-size: 2rem;
    }
    .table .row3 .column2 {
        font-size: 2rem;
    }
    .table .row4 .column2 {
        font-size: 2rem;
    }
    .table .row5 .column2 {
        font-size: 2rem;
    }
    .table .row6 .column2 {
        font-size: 2rem;
    }
    .table .row7 .column2 {
        font-size: 2rem;
    }
    .table .row8 .column2 {
        font-size: 2rem;
    }
    .table .row9 .column2 {
        font-size: 2rem;
    }
    .table .row2 .column6 .like {
        padding-left: 1.375rem;
    }








    #tmobile {
        height: 1.25rem;
        width: auto;
    }
    .mid1 {
        font-size: 1.5rem;
    }
    .mid1 .left {
        padding: 11px 20.188rem 0px 18px;
        position: absolute;
        left: -12px;
        top: 11px;
    }
    #down {
        font-size: 1.5rem;
    }
    #drop {
        right: 154px;
        top: 74px;
    }
    #sharehere {
        font-size: 2.5rem;
    }
    #tex{
        font-size: 2.5rem;
    }
    #modalclose {
        height: 2rem;
        width: auto;
        top: -20%;
        left: 91%;
    }
    #modlclose {
        height: 2rem;
        width: auto;
        top: -20%;
        left: 91%;
    }
    #side {
        font-size: 40px;
    }
    #sidebarclose {
        height: 2rem;
        width: auto;
        top: -4%;
        left: 2%;
    }
    
    
}